* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;

  padding: 40px 0;
  background-color: black;
  color: white;
/* 
  background-image: url("./assets/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
 */
}

.button {
  margin-top: 24px;
  max-width: 200px;

  border: 1px solid white;
  border-radius: 10px;
  padding: 8px 16px;

  text-decoration: none;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
